<div class="container" th:fragment="header">

    <div class="header clearfix navbar navbar-inverse">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#" th:href="@{/clients/admin-view}">Home</a></li>
                <li role="presentation"><a href="#" th:href="@{/clients/all-clients}">All Clients</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>
</div>