<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" decorate="layouts/defaultLayout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
    <div th:replace="~{layouts/commonHeader :: header}"></div>

    <section fragment="content">
        <p>Replace this with a page that has layout:fragment="content"</p>
    </section>

    <div th:replace="~{layouts/commonfooter :: footer}"></div>
</body>